FACEBOOK_ID=279597207408908
FACEBOOK_SECRET=cadbfa6c932e35bb0607ab261aec2e63
FACEBOOK_CALLBACK=http://localhost:3000/auth/facebook/callback
SESSION_SECRET=ThisIsMySecret
MONGODB_URI=mongodb://localhost/todo-list
PORT=3000