<div class="container d-flex justify-content-center">
  <form action="/restaurants" method="POST">
    <div class="row">
      <input type="text" class="form-control text-secondary mb-3" placeholder="Name" name="name">
      <input type="text" class="form-control text-secondary mb-3" placeholder="Name in English" name="name_en">
      <input type="text" class="form-control text-secondary mb-3" placeholder="Category" name="category">
      <input type="text" class="form-control text-secondary mb-3" placeholder="Image" name="image">
      <input type="text" class="form-control text-secondary mb-3" placeholder="Location" name="location">
      <input type="text" class="form-control text-secondary mb-3" placeholder="Phone Number" name="phone">
      <input type="text" class="form-control text-secondary mb-3" placeholder="Google map" name="google_map">
      <input type="text" class="form-control text-secondary mb-3" placeholder="Rating" name="rating">
      <input type="text" class="form-control text-secondary mb-3" placeholder="Description" name="description">
    </div>
    <button type="submit" class="btn btn-outline-secondary">送出</button>
    <a href="/"><button type="button" class="btn btn-outline-secondary">返回</button></a>
  </form>
</div>