<div class="container d-flex justify-content-center mt-3">
  <form action="/restaurants" method="POST">
    <div class="row">
      <input type="text" class="form-control text-secondary mb-3" placeholder="Name" name="name" required>
      <input type="text" class="form-control text-secondary mb-3" placeholder="Name in English" name="name_en" required>
      <input type="text" class="form-control text-secondary mb-3" placeholder="Category" name="category" required>
      <input type="text" class="form-control text-secondary mb-3" placeholder="Image" name="image" required>
      <input type="text" class="form-control text-secondary mb-3" placeholder="Location" name="location" required>
      <input type="text" class="form-control text-secondary mb-3" placeholder="Phone Number" name="phone" required>
      <input type="text" class="form-control text-secondary mb-3" placeholder="Google map" name="google_map" required>
      <input type="text" class="form-control text-secondary mb-3" placeholder="Rating" name="rating" required>
      <input type="text" class="form-control text-secondary mb-3" placeholder="Description" name="description" required>
    </div>
    <button type="submit" class="btn btn-outline-secondary">送出</button>
    <a href="/"><button type="button" class="btn btn-outline-secondary">返回</button></a>
  </form>
</div>